cffi
cloudpickle
cycler
dask
decorator
imageio
kiwisolver
matplotlib
networkx
numpy
pandas
Pillow
pycparser
pygit
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML==3.13
scikit-image
scikit-learn
scipy
six
toolz
opencv-python
tqdm